<mat-toolbar color="primary">
    <button matIconButton [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
    <span [style.marginLeft]="'1em'"></span>
    <span><img (click)="homeClick()" [style.height]="'100%'" [style.maxHeight]="'1.5em'" src="logo2.png"></span>
    <span [style.marginLeft]="'1em'"></span>
    <span>TechStoreSV</span>
    <span [style.marginLeft]="'2em'" class="example-spacer"></span>
</mat-toolbar>

<mat-menu #menu="matMenu">
    @for (menu of menusList(); track menu) {
    <button mat-menu-item
        [routerLink]="menu.ruta" routerLinkActive="active-menu-item">{{menu.nombre}}</button>
    }

    <mat-divider></mat-divider>

    @if (logged()) {
    <button  mat-menu-item [hidden]="logged()==false" (click)="cerrarSesion()">
        <mat-icon>account_circle_off</mat-icon>
        <span>Cerrar Sesion</span>
    </button>
    <mat-divider></mat-divider>
    }

    <mat-slide-toggle [(ngModel)]="isChecked" (change)="onThemeSwitchChange()">Colores:
        {{isChecked()?'Oscuro':'Claro'}}</mat-slide-toggle>
</mat-menu>

<div class="container-fluid">
    <div class="row">
        <router-outlet (activate)="routerActivated($event)"></router-outlet>
    </div>
</div>