<mat-dialog-content>
    <div>
        <mat-card>
            <mat-card-title>
                <label class="h4">Pagar Peido</label>
            </mat-card-title>
            <mat-card-content>
                <form id="productoForm" [formGroup]="pagoCarritoForm" (ngSubmit)="pagarPedido()">
                    <mat-grid-list cols="1">

                        <mat-grid-tile>
                            <mat-label>Total de pedido: </mat-label>
                            <mat-label>{{totalPedido() | currency}}</mat-label>
                        </mat-grid-tile>



                        @for (formfield of formConfigs(); track formfield) {
                        <mat-grid-tile>
                            <mat-form-field>
                                <mat-label>{{formfield.label}}</mat-label>
                                @switch (formfield.controlType) {
                                @case ('textarea') {
                                <textarea matInput [formControlName]="formfield.name"
                                    [errorStateMatcher]="matcher"></textarea>
                                }
                                @case ('select') {
                                <mat-select [compareWith]="compareIds" required [formControlName]="formfield.name"
                                    [errorStateMatcher]="matcher" (selectionChange)="onSelectionChange($event)">
                                    @for (opcion of formfield.options; track opcion) {
                                    <mat-option [value]="opcion.value">{{opcion.name}}</mat-option>
                                    }
                                </mat-select>
                                }
                                @default {
                                <input matInput [type]="formfield.type" [formControlName]="formfield.name"
                                    [errorStateMatcher]="matcher" required />
                                }
                                }

                                @if (getFormControl(formfield.name)?.errors) {
                                <mat-hint>{{formfield.label}}</mat-hint>
                                }

                                @if (getFormControl(formfield.name)?.errors && formfield.controlType === 'select') {
                                <mat-error>Seleccione
                                    {{formfield.label}}</mat-error>
                                }

                                @if (getFormControl(formfield.name)?.errors && formfield.controlType != 'select') {
                                <mat-error>Ingrese
                                    {{formfield.label}}</mat-error>
                                }


                            </mat-form-field>
                        </mat-grid-tile>
                        }


                        <mat-grid-tile>
                            <mat-label>comision pasarela: </mat-label>
                            <mat-label>{{comisionPasarela() | currency}}</mat-label>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-label>Total a pagar: </mat-label>
                            <mat-label>{{totalPago() | currency}}</mat-label>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <button mat-stroked-button color="primary" type="submit">Pagar</button>
                        </mat-grid-tile>



                    </mat-grid-list>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</mat-dialog-content>