3<mat-dialog-content>
    <div>
        <mat-card>
            <mat-card-title>
                <label class="h4">Agregar Producto</label>
            </mat-card-title>
            <mat-card-content>
                <form id="productoForm" [formGroup]="agregarCarritoForm" (ngSubmit)="agregarDetallePedido()">
                    <mat-grid-list cols="1">

                        @for (formfield of formConfigs(); track formfield) {
                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>{{formfield.label}}</mat-label>
                                @switch (formfield.controlType) {
                                @case ('textarea') {
                                <textarea matInput [formControlName]="formfield.name"
                                    [errorStateMatcher]="matcher"></textarea>
                                }
                                @case ('select') {
                                <mat-select [compareWith]="compareIds" required [formControlName]="formfield.name"
                                    [errorStateMatcher]="matcher" (selectionChange)="onProductoSelectionChange($event)">
                                    @for (opcion of formfield.options; track opcion) {
                                    <mat-option [value]="opcion.value">{{opcion.name}}</mat-option>
                                    }
                                </mat-select>
                                }
                                @default {
                                <input matInput [type]="formfield.type" [formControlName]="formfield.name"
                                    maxlength="{{formfield.max && formfield.max > 0 && formfield.type == 'text' ? formfield.max : 1000}}"
                                    max="{{formfield.max && formfield.max > 0 && formfield.type == 'number' ? formfield.max : 1000000}}"
                                    [errorStateMatcher]="matcher" required />
                                }
                                }

                                @if (getFormControl(formfield.name)?.errors) {
                                @if (getFormControl(formfield.name)?.errors && formfield.controlType === 'select') {
                                <mat-hint align="start">Seleccione{{' '+formfield.label}}</mat-hint>
                                }
                                @if (getFormControl(formfield.name)?.errors && formfield.controlType != 'select') {
                                <mat-hint align="start">Ingrese{{' '+formfield.label}}</mat-hint>
                                }
                                }

                                @if (formfield.controlType == 'input' && (formfield.max || formfield.min)) {
                                <mat-hint align="end">{{formfield.min && formfield.min > 0 ? formfield.min :
                                    '-'}}/{{formfield.type == 'number'?
                                    getFormControl(formfield.name)?.value:
                                    getFormControl(formfield.name)?.value.length}}/{{formfield.max && formfield.max > 0
                                    ? formfield.max : '-'}}</mat-hint>
                                }


                            </mat-form-field>
                        </mat-card-title>
                        }

                        <mat-card-title>
                            <button mat-stroked-button color="primary" type="submit">Agregar</button>
                        </mat-card-title>

                    </mat-grid-list>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</mat-dialog-content>